@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$primary-color: #ffe600;
$secondary-color: #eeeeee;
$avaiable-color: #03a044;
$gray-text-color: #8a8a8a;

.meli{
    background-color: $secondary-color;
    font-family: 'Open Sans', sans-serif;

    a {
        color: #000;
        &:hover{
         text-decoration: none;           
        }
    }

    .loader{
        width: 100px;
        display: block;
        margin: auto;
    }
    
    sup {
        top:-.7em;;
        margin-left: -.5em;
        font-size: .5em;
    }

    .paragraph{
        color: $gray-text-color;
    }

    .check-light {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        border-radius: 100%;
        margin-left: .4rem;
        margin-top: .7rem;
        &.off{
            background-color: $secondary-color;
        }
        &.on{
            background-color: $avaiable-color;
            -webkit-box-shadow: 1px 1px 3px 3px rgb(38 224 10 / 33%); 
            box-shadow: 1px 1px 3px 3px rgb(38 224 10 / 33%);
        }
    }

    .nav-bar{
        background-color: $primary-color;

        .form-control{
            border: 0px;
            
            &:focus {
                color: unset;
                border-color: unset;
                box-shadow: unset;
                }    
        }
        .input-group-text{
            border: 0px;
            border-radius: 0px;
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }

        .logo {
            width: 60px;
            margin-top: 7%;
        }
    }

    .product-card{
       border-bottom: 1px solid $secondary-color; 

       .badge{
           display: block;
            width: fit-content;
            margin: auto;
            background-color: $secondary-color;
       }

       .price{
           font-size: 1.5rem;
       }
    }

    .product-screen{
        .img-fluid{
            width: 400px;
            margin:auto;
            display: block;
            margin-bottom: 30px;
        }
    }



}


